<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://shoesmarketdata.cdv1r0k68iug.ap-northeast-2.rds.amazonaws.com:3306/market"/>
        <property name="username" value="nodot"/>
        <property name="password" value="nodotisgreat"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="com/nodot/sql/mapper/mapper.xml"/>
  </mappers>
</configuration>