<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nodot.sql.mapper.mapper">
  <insert id="insertTest">
    insert into MARKET_SHOES(MS_ID, MS_URL, MS_NAME, MS_PRICE, MS_USER_NAME, MS_REG_DATE) values ('1','1','1',111,'111','2016-12-12 12:12:12')
  </insert>
</mapper>