<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StocksMapper">
  <insert id="setMarketData" parameterType="java.util.Map">
	  	insert into MARKET_SHOES(
	  		MS_ID,
	  		MS_URL,
	  		MS_NAME,
	  		MS_SIZE,
	  		MS_PRICE,
	  		MS_IS_NEW,
	  		MS_USER_NAME,
	  		MS_REG_DATE 
		) values (
	   	 	#{id},
	   	 	#{url},
	   	 	#{name},
	   	 	#{size},
	   	 	#{price},
	   	 	#{status},
	   	 	#{user},
	   	 	#{regDate}
   	 	);
  </insert>
</mapper>